#xml {
    float: left;
    width: 50%;
    height: 97vh;
    overflow-y: scroll;
}

#xterm {
    margin-left: 50%;
    width: 48%;
    height: 97vh;
    position: fixed;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
